<section>
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    #signupform="ngForm"
    (ngSubmit)="onSubmit(signupform)"
  >
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Your Email"
        ngModel
        name="email"
        email
        required
        #emailInput="ngModel"
      />

      <mat-error *ngIf="emailInput.touched && emailInput.invalid"
        >Email is invalid!</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="Your Password"
        ngModel
        name="password"
        required
        minLength="8"
        #passKey="ngModel"
      />
      <!-- <mat-hint align="start">Enter a strong password.</mat-hint> -->
      <!-- <mat-error *ngIf="passKey.touched && passKey.invalid"
        >Password is invalid!</mat-error
      > -->
      <mat-error *ngIf="passKey.hasError('required')"
        >Password is invalid!</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Your birthdate"
        [matDatepicker]="picker"
        [max]="maxDate"
        ngModel
        name="birthdate"
        required
        #birthdate="ngModel"
      />
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="birthdate.touched && birthdate.invalid"
        >Please select birthdate</mat-error
      >
    </mat-form-field>
    <mat-checkbox ngModel name="agree" required
      >Agree to Terms and Conditions.</mat-checkbox
    >
    <button
      *ngIf="!isLoading"
      type="submit"
      mat-raised-button
      color="accent"
      [disabled]="signupform.invalid"
    >
      Submit
    </button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>
</section>
